// FONT
html {
    font-family: 'Be Vietnam Pro', Arial, sans-serif;
    scroll-behavior: smooth;
}

// CONTAINERS
.container-narrow {
    max-width: $container-narrow-width;
    margin: 0 auto;
}

.container-wide {
    max-width: $container-wide-width;
    margin: 0 auto;
}

.container-full {
    width: 100%
}

// TITOLI E SOTTOTITOLI
.title {
    font-size: 2rem;
}
.subtitle {
    font-size: 1.5rem;
    color: $md-jungle-green;
}