// PALETTE COLORI
    // Color Cube
    $cc-white: #fefefe;
    $cc-tuna: #343142;
    $cc-silver: #bcbcbc;
    $cc-mountain-meadow: #1eae96;
    $cc-boulder: #797979;
    $cc-alizarin-crimson: #e2261a;
    $cc-sunglo: #df7470;
    $cc-international-klein-blue: #0427a1;
    $cc-turquoise-blue: #61e6d2;
    $cc-japanese-maple: #780601;
    // Median Cut
    $mc-porcelain: #eceeef;
    $mc-charade: #282935;
    $mc-au-chico: #8c6157;
    $mc-jungle-green: #2fad96;
    $mc-sandal: #9f8c67;
    // Material Design
    $md-jungle-green: #25ac94;
    $md-dorado: #5d5450;
    $md-thunderbird: #c92217;
    $md-sand-dune: #81695e;
    $md-link-water: #ecf2f9;